body {
  background: url(images/picspree-680782.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
}
.description {
  font-family: 'Alegreya', serif;
}
.job-title {
  font-family: 'Alegreya', serif;
  text-align: center;
}
.location {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
}
.box {
  max-width: 500px;
  background: linear-gradient(to left top, #949FCB 0%, #FFFCDC 100%);
  margin: 170px auto 0;
  padding: 135px 10px 30px;
  box-sizing: border-box;
  position: relative;
}
.content {
  max-width: 350px;
  margin: 0 auto;
}
.avatar {
position: absolute;
top: -75px;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
}