body {
  background: url(images/picspree-680782.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 0 10px;
  box-sizing: border-box;
}
h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
}
.description {
  font-family: 'Alegreya', serif;
}
.job-title {
  font-family: 'Alegreya', serif;
  text-align: center;
}
.location {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
}
.box {
  max-width: 500px;
  background: linear-gradient(to left top, #949FCB 0%, #FFFCDC 100%);
  margin: 85px auto 0;
  padding: 135px 10px 30px;
  box-sizing: border-box;
  position: relative;
}
.content {
  max-width: 350px;
  margin: 0 auto;
}
.avatar {
width: 100%;
}
.img-box {
  max-width: 200px;
  height: 200px;
  position: absolute;
  top: -75px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  }

  @media (min-width: 520px) {
    .box {
      margin: 170px auto 0;
    }
  }